.chooseWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.choose {
    position: relative;
    cursor: pointer;
    background-color: #fff transparent;
    margin: 10px;
    border-radius: 50%;
}

.choose:active {
    top: 1px;
}

.choose:hover {
    background-color: #fff;
    transition: all 0.3s,
}

.choose:after  {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.choose:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}


.choose.rock{
    background-image: url('img/circle.png'), url('img/rock.png');
    background-size: 100%, 50%;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    width: 100px;
    height: 100px;
}

.choose.paper{
    background-image: url('img/circle.png'), url('img/paper.png');
    background-size: 100%, 50%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.choose.scissors {
    background-image: url('img/circle.png'), url('img/scissors.png');
    background-size: 100%, 50%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.choose.disabled {
    cursor: not-allowed;
}

.choose.disabled:active:after {
    box-shadow: none;
    opacity: 0;
}