.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.text {
    pointer-events: none;
    user-select: none;
    font-size: 250%;
}

.playAgain {
    border: 2px solid #fff;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    font-size: 150%;
    color:#fff;
    background-color: #fff transparent;
}

.playAgain:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.playAgain:active {
    top: 1px;
}